.elementor-17071 .elementor-element.elementor-element-34085e2 {
    box-shadow: 0px 0px 40px 0px rgba(183, 196, 226, 0.08);
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-17071 .elementor-element.elementor-element-39ca2f8>.elementor-element-populated {
    margin: -50px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-17071 .elementor-element.elementor-element-851d3d1:not(.elementor-motion-effects-element-type-background), .elementor-17071 .elementor-element.elementor-element-851d3d1>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-17071 .elementor-element.elementor-element-851d3d1 {
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    box-shadow: 0px 0px 40px 0px rgba(183, 196, 226, 0.14901960784313725);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 40px 20px 50px;
}

.elementor-17071 .elementor-element.elementor-element-851d3d1, .elementor-17071 .elementor-element.elementor-element-851d3d1>.elementor-background-overlay {
    border-radius: 2px 2px 2px 2px;
}

.elementor-17071 .elementor-element.elementor-element-851d3d1>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17071 .elementor-element.elementor-element-a3362a3>.elementor-element-populated {
    padding: 10px 15px 10px 15px;
}

.elementor-17071 .elementor-element.elementor-element-b9fe315>.elementor-element-populated {
    padding: 10px 15px 10px 15px;
}

.elementor-17071 .elementor-element.elementor-element-7ee77f8>.elementor-element-populated {
    padding: 10px 15px 10px 15px;
}

.elementor-17071 .elementor-element.elementor-element-f61c66e {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-17071 .elementor-element.elementor-element-73b1710>.elementor-element-populated {
    padding: 0px 90px 0px 0px;
}

.elementor-17071 .elementor-element.elementor-element-8c8a398 .cspt-heading-subheading {
    text-align: left;
}

.elementor-17071 .elementor-element.elementor-element-aa51a03 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(15px/2);
}

.elementor-17071 .elementor-element.elementor-element-aa51a03 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(15px/2);
}

.elementor-17071 .elementor-element.elementor-element-aa51a03 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(15px/2);
    margin-left: calc(15px/2);
}

.elementor-17071 .elementor-element.elementor-element-aa51a03 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-15px/2);
    margin-left: calc(-15px/2);
}

body.rtl .elementor-17071 .elementor-element.elementor-element-aa51a03 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-15px/2);
}

body:not(.rtl) .elementor-17071 .elementor-element.elementor-element-aa51a03 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-15px/2);
}

.elementor-17071 .elementor-element.elementor-element-aa51a03 .elementor-icon-list-icon i {
    font-size: 14px;
}

.elementor-17071 .elementor-element.elementor-element-aa51a03 .elementor-icon-list-icon svg {
    width: 14px;
}

.elementor-17071 .elementor-element.elementor-element-aa51a03 .elementor-icon-list-text {
    padding-left: 10px;
}

.elementor-17071 .elementor-element.elementor-element-aa51a03>.elementor-widget-container {
    margin: -20px 0px 0px 0px;
}

.elementor-17071 .elementor-element.elementor-element-3ce7e50>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-17071 .elementor-element.elementor-element-3a00586>.elementor-element-populated {
    padding: 0px 0px 0px 54px;
}

.elementor-17071 .elementor-element.elementor-element-f946659 .elementor-image img {
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.04);
}

.elementor-17071 .elementor-element.elementor-element-6ab8139 {
    width: auto;
    max-width: auto;
    bottom: 60.547px;
}

body:not(.rtl) .elementor-17071 .elementor-element.elementor-element-6ab8139 {
    left: -91px;
}

body.rtl .elementor-17071 .elementor-element.elementor-element-6ab8139 {
    right: -91px;
}

.elementor-17071 .elementor-element.elementor-element-84f9433 {
    padding: 60px 0px 50px 0px;
}

.elementor-17071 .elementor-element.elementor-element-2761088>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-17071 .elementor-element.elementor-element-5b325bf .cspt-ele-header-area {
    text-align: center;
}

.elementor-17071 .elementor-element.elementor-element-c8e21f4>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-17071 .elementor-element.elementor-element-c8e21f4 {
    padding: 0px 0px 0px 0px;
}

.elementor-17071 .elementor-element.elementor-element-c1fa60d.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-17071 .elementor-element.elementor-element-c1fa60d:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap, .elementor-17071 .elementor-element.elementor-element-c1fa60d>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../../../../../../greenly-site1/wp-content/uploads/sites/2/2018/12/project-new-1.jpg");
    background-position: center center;
}

.elementor-17071 .elementor-element.elementor-element-c1fa60d>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-17071 .elementor-element.elementor-element-c1fa60d>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17071 .elementor-element.elementor-element-5a0b828.elementor-view-stacked .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-17071 .elementor-element.elementor-element-5a0b828.elementor-view-framed .elementor-icon, .elementor-17071 .elementor-element.elementor-element-5a0b828.elementor-view-default .elementor-icon {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.elementor-17071 .elementor-element.elementor-element-5a0b828.elementor-view-framed .elementor-icon, .elementor-17071 .elementor-element.elementor-element-5a0b828.elementor-view-default .elementor-icon svg {
    fill: #FFFFFF;
}

.elementor-17071 .elementor-element.elementor-element-5a0b828 .elementor-icon {
    font-size: 20px;
    padding: 25px;
}

.elementor-17071 .elementor-element.elementor-element-5a0b828 .elementor-icon i, .elementor-17071 .elementor-element.elementor-element-5a0b828 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-17071 .elementor-element.elementor-element-5a0b828>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-17071 .elementor-element.elementor-element-5a0b828 {
    width: auto;
    max-width: auto;
}

.elementor-17071 .elementor-element.elementor-element-7d9b154>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 90px 15px 100px 80px;
}

.elementor-17071 .elementor-element.elementor-element-7d9b154>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17071 .elementor-element.elementor-element-472fb1c .cspt-heading-subheading {
    text-align: left;
}

.elementor-17071 .elementor-element.elementor-element-472fb1c>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-17071 .elementor-element.elementor-element-dd7d95c>.elementor-widget-container {
    margin: -20px 0px 0px 0px;
}

.elementor-17071 .elementor-element.elementor-element-e1b076a>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-17071 .elementor-element.elementor-element-e1b076a {
    padding: 50px 15px 50px 15px;
}

.elementor-17071 .elementor-element.elementor-element-1f1c1c4>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-17071 .elementor-element.elementor-element-d324c66 .elementor-heading-title {
    font-size: 32px;
    line-height: 40px;
}

.elementor-17071 .elementor-element.elementor-element-d324c66>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-17071 .elementor-element.elementor-element-066b8a2>.elementor-widget-container {
    margin: -15px 0px 0px 0px;
}

.elementor-17071 .elementor-element.elementor-element-c6aecff>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-17071 .elementor-element.elementor-element-95df770 {
    padding: 70px 0px 50px 0px;
}

.elementor-17071 .elementor-element.elementor-element-ccf8750>.elementor-element-populated, .elementor-17071 .elementor-element.elementor-element-ccf8750>.elementor-element-populated>.elementor-background-overlay, .elementor-17071 .elementor-element.elementor-element-ccf8750>.elementor-background-slideshow {
    border-radius: 3px 3px 3px 3px;
}

.elementor-17071 .elementor-element.elementor-element-ccf8750>.elementor-element-populated {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    margin: 0px 55px 0px 0px;
    padding: 0px 30px 20px 15px;
}

.elementor-17071 .elementor-element.elementor-element-c487378 {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.elementor-17071 .elementor-element.elementor-element-f4eaee5>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-17071 .elementor-element.elementor-element-ffa95ca {
    /* text-align: left; */
}

.elementor-17071 .elementor-element.elementor-element-ffa95ca>.elementor-widget-container {
    margin: 10px 0px 10px 0px;
    /* padding: 0px 0px 0px 0px; */
}

.elementor-17071 .elementor-element.elementor-element-28614e3 .elementor-button .elementor-align-icon-right {
    margin-left: 0px;
}

.elementor-17071 .elementor-element.elementor-element-28614e3 .elementor-button .elementor-align-icon-left {
    margin-right: 0px;
}

.elementor-17071 .elementor-element.elementor-element-28614e3>.elementor-widget-container {
    margin: 5px 33px 20px 15px;
}

.elementor-17071 .elementor-element.elementor-element-99a2773 {
    width: auto;
    max-width: auto;
    top: 40px;
}

body:not(.rtl) .elementor-17071 .elementor-element.elementor-element-99a2773 {
    left: 29px;
}

body.rtl .elementor-17071 .elementor-element.elementor-element-99a2773 {
    right: 29px;
}

.elementor-17071 .elementor-element.elementor-element-468336a>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 40px 30px 0px 15px;
}

.elementor-17071 .elementor-element.elementor-element-67d2f81 .cspt-ele-header-area {
    text-align: left;
}

.elementor-17071 .elementor-element.elementor-element-67d2f81>.elementor-widget-container {
    margin: 0px 0px 0px -35px;
    padding: 0px 30px 0px 0px;
}

.elementor-17071 .elementor-element.elementor-element-e5b8c20 {
    padding: 40px 0px 20px 0px;
}

.elementor-17071 .elementor-element.elementor-element-261e5b3>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-17071 .elementor-element.elementor-element-ccb3b82 .cspt-ele-header-area {
    text-align: center;
}

.elementor-17071 .elementor-element.elementor-element-a2f3d07>.elementor-background-overlay {
    background-image: url("../../2019/01/bg-pattern.jpg");
    opacity: 1;
}

.elementor-17071 .elementor-element.elementor-element-a2f3d07 {
    padding: 40px 0px 25px 0px;
}

.elementor-17071 .elementor-element.elementor-element-be16c97>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-17071 .elementor-element.elementor-element-babe79f .cspt-heading-subheading {
    text-align: left;
}

.elementor-17071 .elementor-element.elementor-element-aecc534>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-17071 .elementor-element.elementor-element-60f0dfc {
    margin-top: 0px;
    margin-bottom: 80px;
    padding: 0px 0px 0px 0px;
}

.elementor-17071 .elementor-element.elementor-element-5262dc1>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-17071 .elementor-element.elementor-element-f89e036>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-17071 .elementor-element.elementor-element-e9bb681 .elementor-heading-title {
    font-size: 22px;
    line-height: 30px;
}

.elementor-17071 .elementor-element.elementor-element-726dda3 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-17071 .elementor-element.elementor-element-f383e2b>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-17071 .elementor-element.elementor-element-e34f2a9>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-17071 .elementor-element.elementor-element-9a67d04 .elementor-heading-title {
    font-size: 22px;
    line-height: 30px;
}

.elementor-17071 .elementor-element.elementor-element-e927ddd:not(.elementor-motion-effects-element-type-background), .elementor-17071 .elementor-element.elementor-element-e927ddd>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2019/01/bg-pattern.jpg");
}

.elementor-17071 .elementor-element.elementor-element-e927ddd {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #E5E5E5;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 60px 0px 50px 0px;
}

.elementor-17071 .elementor-element.elementor-element-e927ddd>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17071 .elementor-element.elementor-element-492eb5a>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-17071 .elementor-element.elementor-element-fb3b50b .cspt-ele-header-area {
    text-align: left;
}

.elementor-17071 .elementor-element.elementor-element-609d4fd {
    padding: 40px 0px 0px 0px;
}

.elementor-17071 .elementor-element.elementor-element-fb9f0fc>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-17071 .elementor-element.elementor-element-5eb4c78 .cspt-ele-header-area {
    text-align: center;
}

@media(min-width:768px) {
    .elementor-17071 .elementor-element.elementor-element-ccf8750 {
        width: 49.75%;
    }
    .elementor-17071 .elementor-element.elementor-element-468336a {
        width: 50.25%;
    }
    .elementor-17071 .elementor-element.elementor-element-be16c97 {
        width: 41%;
    }
    .elementor-17071 .elementor-element.elementor-element-aecc534 {
        width: 58.665%;
    }
}

@media(max-width:1024px) {
    .elementor-17071 .elementor-element.elementor-element-851d3d1 {
        padding: 16px 16px 4px 16px;
    }
    .elementor-17071 .elementor-element.elementor-element-f61c66e {
        padding: 70px 0px 60px 0px;
    }
    .elementor-17071 .elementor-element.elementor-element-73b1710>.elementor-element-populated {
        padding: 0px 30px 0px 0px;
    }
    .elementor-17071 .elementor-element.elementor-element-3a00586>.elementor-element-populated {
        margin: 50px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-17071 .elementor-element.elementor-element-f946659 {
        text-align: left;
    }
    .elementor-17071 .elementor-element.elementor-element-f946659 .elementor-image img {
        width: 100%;
        max-width: 100%;
    }
    .elementor-17071 .elementor-element.elementor-element-6ab8139>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    body:not(.rtl) .elementor-17071 .elementor-element.elementor-element-6ab8139 {
        left: 27px;
    }
    body.rtl .elementor-17071 .elementor-element.elementor-element-6ab8139 {
        right: 27px;
    }
    .elementor-17071 .elementor-element.elementor-element-6ab8139 {
        bottom: 44.594px;
    }
    .elementor-17071 .elementor-element.elementor-element-84f9433 {
        padding: 70px 15px 70px 15px;
    }
    .elementor-17071 .elementor-element.elementor-element-2761088>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-17071 .elementor-element.elementor-element-c8e21f4 {
        padding: 0px 0px 20px 0px;
    }
    .elementor-17071 .elementor-element.elementor-element-c1fa60d>.elementor-element-populated {
        padding: 200px 0px 200px 0px;
    }
    .elementor-17071 .elementor-element.elementor-element-7d9b154>.elementor-element-populated {
        padding: 50px 15px 50px 15px;
    }
    .elementor-17071 .elementor-element.elementor-element-e1b076a {
        padding: 50px 0px 50px 0px;
    }
    .elementor-bc-flex-widget .elementor-17071 .elementor-element.elementor-element-c6aecff.elementor-column .elementor-column-wrap {
        align-items: flex-start;
    }
    .elementor-17071 .elementor-element.elementor-element-c6aecff.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
        align-content: flex-start;
        align-items: flex-start;
    }
    .elementor-17071 .elementor-element.elementor-element-95df770 {
        padding: 50px 0px 50px 0px;
    }
    .elementor-17071 .elementor-element.elementor-element-ccf8750>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 15px 0px 15px;
    }
    .elementor-17071 .elementor-element.elementor-element-ffa95ca {
        text-align: left;
    }
    .elementor-17071 .elementor-element.elementor-element-ffa95ca .elementor-image img {
        width: 95%;
    }
    .elementor-17071 .elementor-element.elementor-element-ffa95ca>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-17071 .elementor-element.elementor-element-468336a>.elementor-element-populated {
        margin: 60px 0px 0px 0px;
        padding: 0px 15px 0px 15px;
    }
    .elementor-17071 .elementor-element.elementor-element-67d2f81>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-17071 .elementor-element.elementor-element-e5b8c20 {
        padding: 70px 0px 0px 0px;
    }
    .elementor-17071 .elementor-element.elementor-element-a2f3d07 {
        padding: 70px 0px 70px 0px;
    }
    .elementor-17071 .elementor-element.elementor-element-aecc534>.elementor-element-populated {
        margin: 40px 0px 0px 0px;
    }
    .elementor-17071 .elementor-element.elementor-element-609d4fd {
        padding: 70px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-17071 .elementor-element.elementor-element-851d3d1 {
        margin-top: 40px;
        margin-bottom: 0px;
    }
    .elementor-17071 .elementor-element.elementor-element-a3362a3>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-17071 .elementor-element.elementor-element-b9fe315>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-17071 .elementor-element.elementor-element-7ee77f8>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-17071 .elementor-element.elementor-element-f61c66e {
        padding: 50px 0px 50px 0px;
    }
    .elementor-17071 .elementor-element.elementor-element-84f9433 {
        padding: 50px 15px 50px 15px;
    }
    .elementor-17071 .elementor-element.elementor-element-2761088>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-17071 .elementor-element.elementor-element-7d9b154>.elementor-element-populated {
        padding: 50px 15px 50px 15px;
    }
    .elementor-17071 .elementor-element.elementor-element-e1b076a {
        padding: 30px 0px 40px 0px;
    }
    .elementor-17071 .elementor-element.elementor-element-c6aecff>.elementor-element-populated {
        margin: 50px 0px 0px 0px;
    }
    .elementor-17071 .elementor-element.elementor-element-7e1d345>.elementor-widget-container {
        margin: -20px 0px 0px 0px;
    }
    .elementor-17071 .elementor-element.elementor-element-95df770 {
        padding: 50px 0px 50px 0px;
    }
    .elementor-17071 .elementor-element.elementor-element-ccf8750 {
        width: 100%;
    }
    .elementor-17071 .elementor-element.elementor-element-ccf8750>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 20px 15px;
    }
    .elementor-17071 .elementor-element.elementor-element-ffa95ca>.elementor-widget-container {
        margin: 0px 0px -15px 0px;
        padding: 0px 0px 0px 0px;
    }
    body:not(.rtl) .elementor-17071 .elementor-element.elementor-element-99a2773 {
        left: 22px;
    }
    body.rtl .elementor-17071 .elementor-element.elementor-element-99a2773 {
        right: 22px;
    }
    .elementor-17071 .elementor-element.elementor-element-99a2773 {
        top: 238px;
    }
    .elementor-17071 .elementor-element.elementor-element-468336a>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 30px 15px 0px 15px;
    }
    .elementor-17071 .elementor-element.elementor-element-e5b8c20 {
        padding: 50px 0px 0px 0px;
    }
    .elementor-17071 .elementor-element.elementor-element-a2f3d07 {
        padding: 50px 15px 50px 15px;
    }
    .elementor-17071 .elementor-element.elementor-element-be16c97>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-17071 .elementor-element.elementor-element-aecc534>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-17071 .elementor-element.elementor-element-60f0dfc {
        margin-top: 0px;
        margin-bottom: 30px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-17071 .elementor-element.elementor-element-5262dc1>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-17071 .elementor-element.elementor-element-f89e036>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-17071 .elementor-element.elementor-element-726dda3 {
        margin-top: 0px;
        margin-bottom: 30px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-17071 .elementor-element.elementor-element-f383e2b>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-17071 .elementor-element.elementor-element-e34f2a9>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-17071 .elementor-element.elementor-element-e927ddd {
        padding: 50px 0px 0px 0px;
    }
    .elementor-17071 .elementor-element.elementor-element-609d4fd {
        padding: 50px 0px 0px 0px;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-17071 .elementor-element.elementor-element-73b1710 {
        width: 100%;
    }
    .elementor-17071 .elementor-element.elementor-element-3a00586 {
        width: 100%;
    }
    .elementor-17071 .elementor-element.elementor-element-c1fa60d {
        width: 100%;
    }
    .elementor-17071 .elementor-element.elementor-element-7d9b154 {
        width: 100%;
    }
    .elementor-17071 .elementor-element.elementor-element-ccf8750 {
        width: 100%;
    }
    .elementor-17071 .elementor-element.elementor-element-468336a {
        width: 100%;
    }
    .elementor-17071 .elementor-element.elementor-element-be16c97 {
        width: 100%;
    }
    .elementor-17071 .elementor-element.elementor-element-aecc534 {
        width: 100%;
    }
}